* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.centr {
    padding: 0 calc(50% - 570px);
}

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}

.header__left .logo {
    width: 59px;
    height: 51px;
    margin-top: -10px;
}


/*________ animation___________*/

.bounce-in-left {
    -webkit-animation: bounce-in-left 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
    animation: bounce-in-left 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

@-webkit-keyframes bounce-in-left {
    0% {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateX(-68px);
        transform: translateX(-68px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateX(-28px);
        transform: translateX(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/*____________end animation___________*/


.header__left summary {
    display: block;
    color: #222222;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.35px;
    width: 72px;
    padding: 9px 11px 8px 11px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #f8f3f4;
    margin-right: -1px;
}

.header__left summary p {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.header__left summary p:hover {
    cursor: pointer;
    text-shadow: 1px 1px 3px #232323;
}

.header__left summary li {
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.header__left summary li:hover {
    cursor: pointer;
}

.header__left summary::-webkit-details-marker {
    display: none;
}

.header__left summary::after {
    content: '\25BC';
    font-size: 12px;
    color: #6f6e6e;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    margin-top: 3px;
}

.header__left details[open] > summary::after {
    content: '\25B4';
    font-size: 12px;
    width: 12px;
    height: 12px;
}

.header__left summary:hover {
    background-color: #cdcdcc;
    cursor: pointer;
}

.header__left form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__left .brand {
    color: #222222;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 37px;
}

.header__left span {
    color: #f16d7f;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.68px;
}

.header__left .logo {
    margin-right: 13px;
}

.header__left select {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding-left: 10px;
}

.header__left input[type=search] {
    width: 317px;
    height: 38px;
    padding-left: 10px;
    padding-right: 8px;
    border: 1px solid #e6e6e6;
    transition: all 0.5s;
}

.header__left input[type=search]:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.header__left button[type=submit] {
    width: 38px;
    height: 38px;
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: white;
}

.header__left button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.header__left details {
    position: relative;
}

details[open] .drop {
    display: flex;
    z-index: 10;
}


.drop {
    display: none;
    position: absolute;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px 15px 15px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
}

.drop__h3 {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
    width: 230px;
    padding-bottom: 8px;
    margin-top: 20px;
}

.drop__a {
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 32px;
    margin-left: 5px;
}

.drop__a:hover {
    color: #f16d7f;
}

.drop_last {
    right: 0;
}

.drop__col {
    margin-right: 46px;
}

.drop__col:last-of-type {
    margin-right: 0;
}

.header__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.header__right img {
    margin-right: 17px;
    margin-top: 4px;
}

.right__basket {
    position: relative;
    transition: position 1.5s;
}

.right__basket:hover .basket__drop {
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.right__basket .right__basket_move {
    transition: ease-in-out 1.1s;
}

.right__basket img:hover {
    transform: rotate(360deg)
}
.basket__drop {
    position: absolute;
    display: none;
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    left: -47px;
    top: 53px;
    border: 1px solid #eaeaea;
    transition: all 1.5s;
}

.basket__drop hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.right__basket .basket__drop .drop__button {
    border-radius: 5px;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #f16d7f;
    margin-bottom: 11px;
    transition: all 0.3s;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.right__basket .basket__drop .drop__button:hover {
    border: 1px solid #ffffff;
    background-color: #f16d7f;
    color: #ffffff;
}

.right__basket .basket__drop .drop__button_cart {
    color: #4a4a4a;
    border: 1px solid #eaeaea;
}

.right__basket .basket__drop .drop__button_cart:hover {
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: #ffffff;
}

.drop__linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}

.drop__img {
    margin: 0;
}

.drop__linea .fas {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.drop__linea .fas:hover {
    color: #f16d7f;
}

.drop__linea h5 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.drop__text p {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.drop__text span {
    color: #f16d7f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__right button {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #f16d7f;
    transition: all 0.5s;
}

.header__right button:hover {
    background-color: #ffffff;
    color: #f16d7f;
}

.header__right .fas {
    margin-left: 8px;
}

.nav {
    height: 51px;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.menu .item__menu {
    padding: 17px 20px;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.drop__box {
    margin-top: 20px;
    background-image: url(../img/super_sale.jpg);
    height: 118px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-left: -25px;
}

.box__h3 {
    padding: 10px;
    width: 80px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.55px;
}

.nav .menu .list__menu {
    position: relative;
}

.list__menu:hover .drop {
    display: flex;
    z-index: 10;
}

.menu .item__menu:hover {
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 13px;
}

.arrivals {
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrivals h3 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumbs .activ {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
}

.breadcrumbs a:hover {
    color: #f16d7f;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li:first-child::before {
    content: '';
}

.breadcrumbs li::before {
    content: '/';
    margin-left: 3px;
    margin-right: 3px;
    color: #636363;
}

.singl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singl__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    width: 1607px;
}

.carousel__control {
    color: #ffffff;
    font-size: 24px;
    background-color: #989494;
    padding: 16px 20px;
}

.carousel__control:hover {
    background-color: #f16d7f;
}

.singl__collec {
    width: 1141px;
    border: 1px solid #eaeaea;
    margin-top: -50px;
    z-index: 10;
    text-align: center;
    background-color: #ffffff;
    padding-top: 73px;
    margin-bottom: 110px;
    padding-bottom: 122px;
}

.collec__sp {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 73px;
    margin-bottom: 14px;
}

.singl__collec h4 {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.singl .singl__collec .singl__collec_p {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 620px;
    margin-bottom: 25px;
    padding: 0 250px;
}

.singl__collec p {
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.collec__sp_left {
    color: #2f2f2f;
    margin-right: 40px;
    margin-left: 6px;
}

.collec__sp_right {
    color: #2f2f2f;
    margin-left: 6px;
}

.singl__collec h3 {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.singl__collec hr {
    width: 642px;
    margin: 0 auto;
    margin-bottom: 63px;
}

.singl__collec form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 540px;
    margin: 0 auto;
}

.singl__collec form p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.singl__collec form select {
    padding: 12px 57px 12px 20px;
    border: 1px solid #eaeaea;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    margin-top: 16px;
}

.singl__collec form select:hover {
    box-shadow: 0px 0px 4px;
}

.singl__collec form input {
    padding: 12px 10px 12px 20px;
    border: 1px solid #eaeaea;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    margin-top: 16px;
    width: 110px;
}

.singl__collec form input:hover {
    box-shadow: 0px 0px 4px;
}

.singl__collec form a {
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 200px 18px 250px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    position: relative;
}

.singl__collec form a:hover {
    box-shadow: 0px 0px 7px;
}

.singl__collec form a::before {
    content: "";
    background-image: url(../img/basket_rad.svg);
    width: 26px;
    height: 24px;
    left: 200px;
    position: absolute;
    top: 15px;
}

.singl__like {
    text-align: center;
}

.singl__like h3 {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.like__product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
}

.product {
    width: 261px;
    margin-bottom: 39px;
    text-align: left;
}

.product:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product__content {
    padding: 16px;
}

.product__img {
    width: 100%;
}

.product__name {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
}

.product .product__price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
    margin-top: 16px;
}

.offer {
    margin-top: 70px;
    height: 341px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.offer .box {
    width: 310px;
    text-align: center;
}

.offer .box h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.offer .box p {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.offer .box {}
















.opinions {
    margin-bottom: 100px;
    height: 438px;
    background-image: url(../img/fone_offer_2.png);
    background-repeat: no-repeat;
    background-position: center;

}

.opinions_img {
    width: 1609px;
    height: 438px;
    margin-left: -235px;
}

/*.opinions_img::before {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    width: 1609px;
    height: 438px;
    opacity: 0.5;
}*/

.opinions__slider {
    /* position: relative;*/
}

.opinions__slider input[type="radio"] {
    display: none;
}

.slider-inner {
    overflow: hidden;
    padding-top: 111px;
    width: 497px;
}

.slider-slides {
    width: 300%;
    transition: transform 0.8s ease;
    margin-left: 0px;
}

.slider-slides .slides {
    float: left;
    width: 497px;
}

.slider-slides .slides img {
    float: left;
    margin-right: 28px;
    margin-bottom: 50px;
}

.slider-slides .slides .fototext_p {
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 19px;
}

.slider-slides .slides .foto__sign span {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.slider-slides .slides .foto__sign {
    color: #222224;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.slider-controls {
    margin-top: 10px;
    text-align: left;
    margin-left: 120px;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    cursor: pointer;
    margin-right: 13px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #f16d7f;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
    /* margin-left: 0;*/
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-497px);
    /*margin-left: -497px;*/
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-994px);
    /* margin-left: -994px;*/
}

.opinions__email {
    float: right;
    margin-top: -145px;
    margin-right: 285px;
    z-index: 3;
}

.opinions__email h3 {
    text-align: center;
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}

.opinions__email p {
    text-align: center;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin-bottom: 35px;
}

.opinions__email form {
    text-align: center;
}

.opinions__email form input {
    width: 220px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    border: 0px solid;
    padding-left: 25px;
    padding-right: 85px;
}

.opinions__email form button {
    width: 102px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-left: -77px;
    margin-bottom: -13px;
    border: 1px solid #f16d7f;
}

.opinions__email form button:hover {
    background-color: #f78c9b;
    cursor: pointer;
}

.opinions__line {
    width: 1px;
    height: 438px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 850px;
    margin-top: -279px;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about__h {
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 45px;
}

.about a {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    /* line-height: 59px;*/
    line-height: 39px;
    padding: 10px 10px 10px 0px;
}

.about a:hover {
    color: #f16d7f;
}

.about {}

.about__brand {
    width: 370px;
    padding-right: 150px;
}

.about__brand p {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.about__brand img {
    float: left;
    margin-right: 13px;
}

.about__brand .brand {
    margin-bottom: 30px;
    color: #3e3e40;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: -25px;
}

.about__brand .brand span {
    color: #f16d7f;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.68px;
}

.about__company {
    width: 205px;
}

.about__info {
    width: 205px;
}

.about__shop {
    width: 205px;
}

.footer {
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.footer p {
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.footer__social {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__social a {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    color: #b2b2b2;
}


.footer__social a:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.footer__social a:focus {
    background-color: transparent;
    color: #b2b2b2;
}
